<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.gen.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="com.mybatis.gen.domain.Admin" >
                <result column="userid" property="userid" />
                <result column="mobile" property="mobile" />
                <result column="password" property="password" />
                <result column="name" property="name" />
                <result column="email" property="email" />
    </resultMap>

    <sql id="Base_Column_List">
                userid,
                mobile,
                password,
                name,
                email
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="userid" keyProperty="userid" parameterType="com.mybatis.gen.domain.Admin">
        INSERT INTO admin
        <trim prefix="(" suffix=")" suffixOverrides=",">
                        <if test= "null != mobile and '' != mobile">
                        mobile,
                        </if>
                        <if test= "null != password and '' != password">
                        password,
                        </if>
                        <if test= "null != name and '' != name">
                        name,
                        </if>
                        <if test= "null != email and '' != email">
                        email
                        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                        <if test= "null != mobile and '' != mobile">
                        #{mobile},
                        </if>
                        <if test= "null != password and '' != password">
                        #{password},
                        </if>
                        <if test= "null != name and '' != name">
                        #{name},
                        </if>
                        <if test= "null != email and '' != email">
                        #{email}
                        </if>
        </trim>
    </insert>

    <delete id="deleteByPrimaryKey" >
        DELETE FROM admin
        WHERE userid = #{userid}
    </delete>


    <update id="updateByPrimaryKey" parameterType="com.mybatis.gen.domain.Admin">
        UPDATE admin
        <set>
                    <if test = "null != mobile and '' != mobile">mobile = #{mobile},</if>
                    <if test = "null != password and '' != password">password = #{password},</if>
                    <if test = "null != name and '' != name">name = #{name},</if>
                    <if test = "null != email and '' != email">email = #{email}</if>
        </set>
        WHERE userid = #{userid}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM admin
        WHERE userid = #{userid}
    </select>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM admin where 1 = 1
            <if test = "null != userid and '' != userid">and userid = #{userid}</if>
            <if test = "null != mobile and '' != mobile">and mobile = #{mobile}</if>
            <if test = "null != password and '' != password">and password = #{password}</if>
            <if test = "null != name and '' != name">and name = #{name}</if>
            <if test = "null != email and '' != email">and email = #{email}</if>
    </select>

</mapper>