package ${packageName}.${moduleName}.domain;
import lombok.Data;
#foreach ($import in $importList)
import ${import};
#end

/**
 * ${functionName}对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
public class ${ClassName}{
    private static final long serialVersionUID = 1L;
    #foreach ($column in $columns)
    /**
     * $column.columnComment
     */
    private $column.javaType $column.javaField;
    #end
}