<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.mybatis.mapper.DynamicSqlMapper">
    <select id="count" resultType="java.lang.Long">
        select count(1) from my_db.my_info
        where info_id > @dynamicSql
    </select>
</mapper>